.mainBackgroundSetting {
    width: 70%;
    height:auto;
    position: relative;
}
.circle1 {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}
.centre {
    display: block;
    left: 50%;
    top: 50%;
}
.hidden {
    margin-bottom: 20px;
}