.mainBackgroundSetting {
    width: 100%;
    height:auto
}
.circle1 {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
}
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}